<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
  </td>
  <td>
    <h4><%= product.description %></h4>
  </td>
  <td>
    <h4><%= @order.email %></h4>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price_cents / 100.0 %>
  </td>
  <td>
    <h4><%= quantity %></h4>
  </td>
</tr>
